* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Microsoft Sans Serif", serif;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    color: #a6a5a5;
    margin: 10px 0px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: rgba(97, 98, 112, 0.22);*/
}

table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

td {
    padding: 1%;
    width: 400px;
    height: 200px;
    text-align: center;
    align-items: center;
    border: 3px solid #87AADF;
    border-radius: 3px;
}
