* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Microsoft Sans Serif", serif;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 100vw;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    border-radius: 3px;
    margin: 15px;
    justify-content: space-between;
    align-items: center;
}

h1, h2 {
    color: whitesmoke;
    text-shadow: 1px 1px 3px black;
    margin: 10px;
    text-align: center;
}

img {
    margin: -20px;
    width: 200px;
    background: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
