.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 15px;
    background: #87AADF;
    position: sticky;
    top: 0;
}

.navbar__links {
    justify-content: space-between;
    background: lightblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 31px;
    width: auto;
}

.link {
    display: flex;
    text-decoration: none;
    /*text-shadow: 1px 1px 8px black;*/
    padding: 0px 10px;
    color: whitesmoke;
    font-size: 18px;
    background: #87AADF;
}

.logo {
    width: 39px;
    height: 39px;
    background: none;
}