.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: lightblue;
}

.navbar__links {
    margin-left: auto;
    background: lightblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 31px;
    width: auto;
}

.link {
    display: inline;
    text-decoration: none;
    text-shadow: 1px 1px 8px black;
    margin-right: 8px;
    padding: 0px 10px;
    color: whitesmoke;
    font-size: 18px;
    background: lightblue;
}